.controls {
    width: calc(100% - 3rem);
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.sections section {
    height: 40vh;
    border-bottom: 1rem solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
